

.generalcontainer {
    margin: 2rem;
}

.subtitle {
    padding-bottom: 2rem;
}

.buttoncontainer {
    text-align: center;
    margin: 2rem;
}

.inputcontainer {
    margin: 2rem;
}

.salidacontainer {
    padding: 2rem;
}

.box {
    margin: 2rem;
}