

.buttoncontainer {
    text-align: center;
    margin: 2rem;
}

.buttonform {
    text-align: center;
    margin: 1rem;
}

.generalcontainer {
    margin: 2rem;
}

.inputcontainer {
    margin: 1rem;
}